* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 24px;
  font-family: 'Unica One', cursive;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem 0;
}

#app h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin-bottom: 8px;
}

.calculator {
  display: grid;
  
  grid-gap: 6px;

  border: 2px solid black;
  border-radius: 4px;
  overflow: hidden;
  padding: 8px;
  background: #555;

  width: 480px;

  min-height: 720px;

  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.calculator button {
  font-family: "Coda", cursive;
  font-size: 4vh;
  font-weight: 900;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid black;
}

.memory button {
  background: #ff2;
}

.operations button {
  background: #fb2;
}

button.equals {
  background: #f55;
}

.digits button {
  background: #eee;
}

.display {
  background: #88f;
  padding: 4px 8px;

  grid-column: 1 / 6;
  grid-row: 1 / 4;

  max-height: 240px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.hold {
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  
  display: grid;
  grid-template-rows: 2.5fr 3.5fr;
}

.held-label {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.8);
}

.held-value {
  font-size: 48px;
}

.next-operation {
  font-size: 36px;
  grid-row: 3;
  grid-column: 1;

  color: #fb2;
  font-weight: bold;
}

.next-value {
  font-size: 48px;
  grid-row: 3;
  grid-column: 2 / 6;
  text-align: right;
  align-self: flex-end;
  padding: 0;
  margin: 0;
}

.controls {
  grid-column: 1 / 6;
  grid-row: 4 / 14;

  display: grid;
  grid-gap: 6px;

  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}


.memory {
  grid-column: 1 / 4;
  grid-row: 1;

  display: grid;
  grid-gap: 6px;

  grid-template-columns: repeat(2, 1fr);
}

.memory button {
  font-size: 2vh;
}

.operations {
  grid-column: 4 / 5;
  grid-row: 1 / 6;

  display: grid;
  grid-gap: 6px;
  grid-template-rows: repeat(5, 1fr);
}

.digits {
  grid-column: 1 / 4;
  grid-row: 2 / 6; 
  
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.digits :last-of-type {
  grid-column: 2 / 4;
}
